<div class="container">
    <div class="left">
        <h1>Contact us. Or drop us an email!</h1>
        <div class="user-form">
            <div class="user-name">
                <form class="name">
                    <p>Your Name (Required)</p>
                    <input type="text" placeholder="Name" />
                </form>
            </div>
            <div class="user-mail">
                <form class="mail">
                    <p>Your Email (Required)</p>
                    <input type="text" placeholder="Email" />
                </form>
            </div>
        </div>
        <div class="mobile-number">
            <form>
                <p>Your mobile number (Required)</p>
                <input type="text" placeholder="Your Number" />
            </form>
        </div>
        <div class="message">
            <form>
                <p>Your Message</p>
                <input type="text" placeholder="Message" />
            </form>
        </div>
        <button class="send">Send</button>
    </div>
    <div class="right">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi animi incidunt ad 
            soluta vero? Ab sit ea voluptatibus quia optio ad eos aliquam id. Corrupti 
            iure eius libero officiis eligendi.
        </p>
        <img src="https://images.unsplash.com/photo-1615840287214-7ff58936c4cf?ixlib=rb-1.
        2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Y29udGFjdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60"
         alt="phone">
    </div>
</div>